/* Bootstrap Icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* poppins-fonts */
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2');
}

/* poppins-500 - latin */
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/poppins-v20-latin-500.woff2') format('woff2');
}

/* poppins-600 - latin */
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v20-latin-600.woff2') format('woff2');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-------------------- 
  custom properties 
--------------------*/
:root {
    --primary-color: #289BDE;
    --secondary-color: #FFFFFF;

    --primary-text-color: #1D1D1D;
    --secondary-text-color: #4A4A4A;
    --regular-text-color: #777777;

    /* --section-title-fs: 45px; */
    --item-title-fs: 22px;

    --fw-m: 500;
    --fw-sb: 600;

    --trans-background-color: background-color .5s, color .6s;
}

/*-------------------- 
  preset properties 
--------------------*/
body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: var(--regular-text-color);
    background: none repeat scroll 0 0;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    vertical-align: middle;
}

input {
    outline: none;
}

input::placeholder {
    font: inherit;
}

h2,
h3,
h4 {
    font-weight: var(--fw-sb);
}

h2 {
    font-size: 4rem;
    color: #FFFFFF;
}

h3 {
    color: var(--primary-text-color);
}

h4 {
    font-size: var(--item-title-fs);
    color: var(--secondary-text-color);
}

/*--------------------   
  * REUSABLE CLASSES 
---------------------*/
.craft-btn,
.craft-register-btn {
    border: 1px solid #289BDE;
    padding: 13px 33px;
    border-radius: 4px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: var(--fw-sb);
    color: var(--secondary-color);
    background-color: var(--primary-color);
    transition: var(--trans-background-color);
}

.craft-btn:hover {
    color: var(--primary-color);
    background-color: #FFFFFF;
    border: 1px solid #289BDE;
}

.FW {
    font-family: FontAwesome;
    font-style: normal;
}

/*==================================================
                header start
==================================================*/
/*----------------- nav-bar -----------------*/
/* logo */
.navbar-brand {
    font-size: 40px;
    font-weight: var(--fw-sb);
    color: var(--secondary-text-color);
}

.navbar-brand span {
    color: var(--primary-color);
}

/* register button */
.craft-register-btn {
    color: var(--primary-color);
    background-color: #FFFFFF;
    border: 1px solid #289BDE;
    transition: var(--trans-background-color);
}

.craft-register-btn:hover {
    color: #FFFFFF;
    background-color: var(--primary-color);
}

/*----------------- slider -----------------*/
/* image */
.slider .carousel-item::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.600);
    z-index: 1;
    border-radius: 4px;
}

/* content */
.carousel-content {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.carousel-content p {
    color: #FFFFFF;
}

/*==================================================
                header end
==================================================*/


/*==================================================
                courses start
==================================================*/
.courses,
.about,
.cta,
.student,
.feedback,
.faq,
.partner {
    margin: 110px 0 130px;
}

.card-image {
    flex: 0 0 30%;
}

.card-image img {
    width: 100%;
}

.card-body {
    flex: 1;
}

.card-title {
    font-size: var(--item-title-fs);
    font-weight: var(--fw-sb);
    color: var(--secondary-text-color);
}

.card-price {
    font-size: 18px;
    font-weight: var(--fw-sb);
    color: var(--primary-color);
}

/*==================================================
                courses end
==================================================*/


/*==================================================
                about start
==================================================*/
.about {
    background-color: #F4FAFD;
}

/*==================================================
                about end
==================================================*/


/*==================================================
                cta start
==================================================*/
.cta {
    background: var(--primary-color);
    padding: 80px 100px;
}

.cta-content,
.cta-content h3 {
    color: var(--secondary-color);
}

.cta button {
    color: var(--primary-color);
    background: var(--secondary-color);
}

.cta button:hover {
    color: var(--primary-text-color);
}

.modal-header,
.modal-body {
    color: var(--primary-text-color);
}

.modal-footer .send {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

/*==================================================
                cta end
==================================================*/


/*==================================================
                feedback start
==================================================*/
.feedbacks p,
.feedbacks span {
    color: var(--regular-text-color);
}

.stars .bi-star-fill {
    color: #FBBF24;
}

.stars .bi-star {
    color: #FCD34D;
}

.feedback-slider .carousel-control-next,
.feedback-slider .carousel-control-prev {
    color: var(--primary-color);
    background: #E5F6FF;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: auto 0;
    opacity: inherit;
    transition: var(--trans-background-color);
}

.feedback-slider .carousel-control-prev:hover, .feedback-slider .carousel-control-next:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
}

.feedback-slider .carousel-control-prev {
    left: -20px;
}

.feedback-slider .carousel-control-next {
    right: -20px;
}
/*==================================================
                feedback end
==================================================*/


/*==================================================
                faq start
==================================================*/
.faqs .accordion-header button {
    color: var(--secondary-text-color);
    font-weight: var(--fw-sb);
    background: #eaf5fc;
}

.accordion-body p {
    color: var(--regular-text-color);
}

/*==================================================
                faq end
==================================================*/


/*==================================================
                footer start
==================================================*/
footer {
    padding: 120px 0 100px;
    background-color: #161616;
    color: var(--secondary-color)
}

footer h3,
footer p {
    color: var(--secondary-color)
}

.social-accounts a {
    padding: 6px 13px;
    background: #242424;
    color: var(--secondary-color);
    transition: var(--trans-background-color);
}

.social-accounts a:hover {
    background: #242424bb;
}

/*==================================================
                footer  end
==================================================*/




/* ----------------- Tablet ----------------- */
/* Checking Size: 800px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    h2 {
        font-size: calc(1.775rem + 2vw);
    }

    /* about section */
    p.about-text {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

}

/* ----------------- Mobile ----------------- */
/* Checking Size: 400px */
@media only screen and (max-width: 767px) {
    h2 {
        font-size: calc(1.475rem + 1.5vw);
    }

    /* cta section */
    .cta {
        padding: 50px;
    }

}